.editContainer {
  width: 100%;
  height: 100%;
  color: var(--primary-text-color);
  display: flex;
}
.mobileView {
  display: none;
}

.edit__section {
  width: 50%;
  border-right: 1px solid var(--border-color);
  word-wrap: break-word;
}

.preview__section {
  width: 50%;
}

.edit__header {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.edit__header h1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.edit__input {
  height: calc(100% - 36px);
  padding: 20px;
}

.edit__input textarea {
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  background: transparent;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  direction: rtl;
  text-align: right;
  font-weight: 400;
  resize: none;
  outline: none;
}

@media screen and (max-width: 850px) {
  .desktopView {
    display: none;
  }
  .mobileView {
    display: block;
  }

  .edit__section {
    width: 100%;
    height: 100%;
    border-right: none;
  }
  .preview__section {
    width: 100%;
  }
}
