.home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 700;
    color: #35393F;
    margin-bottom: 20px;
}

.home p {
    color: #7C8187;
    margin-bottom: 20px;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}
