.fileCard {
    display: flex;
    align-items: center;
    grid-area: files;
    margin: 1.5rem 0;
    cursor: pointer;
    width: 100%;
    padding: 1rem 4rem;
    border-radius: 5px;
}
.cardSelected {
    background-color: var(--tritary-bg-color);
}

.file-card__icon img {
    width: 1.4rem;
    height: 1.6rem;
    margin: 0 1.5rem;
}

.fielCard {
    font-size: 1.3rem;
    font-weight: 300;
}

.file-card__date {
    color: var(--primary-text-color);
    font-size: 1.3rem;
    font-weight: 300;

}

.file-card__name {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--tritary-text-color);
}
