.footer {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-bg-color);
    color: var(--tirtiary-text-color);
    font-size: 1.4rem;
    flex-wrap: wrap;
}
.footer p {
    margin-bottom: 1rem;
}
.footer__social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}
.footer img {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}
