.layout__main {
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-areas:
        "sidebar main";
    transition: 300ms;
    min-height: 90vh;
}
.content {
    grid-area: main;
}

.layout__main--opend {
    grid-template-columns: 25rem 1fr;
}


