@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@300;400;700&display=swap');

.markdownView {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
}
.markdownView h1,
.markdownView h2,
.markdownView h3,
.markdownView h4,
.markdownView h5,
.markdownView h6,
.markdownView code,
.markdownView blockquote,
.markdownView blockquote a {
    color: var(--secondary-text-color);
}

.markdownView h1,
.markdownView h2,
.markdownView h3,
.markdownView h4,
.markdownView h5,
.markdownView h6 {
    font-weight: 700;
}
.markdownView * {
    margin-bottom: 2.1rem;
}
.markdownView h1 {
    font-size: 3.2rem;
}
.markdownView h2 {
    font-size: 2.8rem;
    font-weight: 400;
}
.markdownView h3 {
    font-size: 2.4rem;
}
.markdownView h4 {
    font-size: 2rem;
}
.markdownView h5 {
    font-size: 1.6rem;
}
.markdownView h6 {
    font-size: 1.2rem;
    color: var(--fourth-text-color);
}
.markdownView li {
    margin-left: 4.3rem;
    margin-bottom: 5px;
}
.markdownView ul {
    list-style: none;
    padding-left: 9px;
}
.markdownView ul li::before {
    content: '\2022';
    /* Unicode character for a bullet point */
    color: var(--fourth-text-color);
    display: inline-block;
    width: 1.5rem;
}
.markdownView ul li {
    margin-left: 2.4rem;
}
.markdownView blockquote {
    border-left: 4px solid var(--fourth-text-color);
    background-color: var(--blockquote-bg-color);
    padding: 2.4rem;
    border-radius: 4px;
    font-weight: 700;

}
.markdownView blockquote p {
    margin-bottom: 0;
}
.markdownView a {
    text-decoration: none;
    text-decoration: underline;

}
.markdownView pre {
    background-color: var(--blockquote-bg-color);
    padding: 2.4rem;
    border-radius: 4px;
    font-family: "Roboto Mono";
    overflow-x: auto;
}
