/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&display=swap");
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #c1c4cb;
  --tritary-bg-color: #2b2d31;
  --fourth-bg-color: #1d1f22;
  --btn-bg-color: #e46643;
  --menu-bg-color: #35393f;
  --border-color: #e4e4e4;
  --blockquote-bg-color: #f5f5f5;

  --primary-text-color: #7c8187;
  --secondary-text-color: #35393f;
  --tritary-text-color: #ffffff;
  --fourth-text-color: #e46643;
  --btn-text-color: #ffffff;
}
[data-theme="dark"] {
  --primary-bg-color: #151619;
  --secondary-bg-color: #1d1f22;
  --tritary-bg-color: #2b2d31;
  --fourth-bg-color: #1d1f22;
  --btn-bg-color: #f39765;
  --menu-bg-color: #35393f;
  --border-color: #5a6069;
  --blockquote-bg-color: #2b2d31;

  --primary-text-color: #c1c4cb;
  --secondary-text-color: #ffffff;
  --tritary-text-color: #c1c4cb;
  --fourth-text-color: #f39765;
  --btn-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--menu-bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--tritary-bg-color);
}
html {
  font-size: 62.5%;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 42%;
  }
}
